<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/navbar.css">
	</head>
	<body>
	<br>
		<div class="container-fluid">
			<div class="row header_top" style="height:350px;padding-top:80px;">
				
				<div class="col-sm-1">	</div>
				<div class="col-sm-3">
					<label class="footer-font-color">About Us</label>
					<p class="about-slogan-color"> 
						adkljkdlajksldjaklsdjjhkbvjzx nhjbjahdcsnckjn<br>
						dkskdjhcjs<br>
						jshjakshdjk<br>
					</p>
					<label class="footer-font-color1">
						<span class="glyphicon glyphicon-earphone" style="color:#57e247;"></span> +91 91 58 48 74 44<br>
						<a href="#" class="gmail-color">collaboration@gmail.com</a>
					</label>
				</div>
				<div class="col-sm-4">
					<label class="footer-font-color">Quick links</label><br><br>
					<div class="row">
						<div class="col-sm-6">
							<a href="#/home" class="gmail-color"><span class="glyphicon glyphicon-menu-right" style="color:#57e247;"></span>&nbsp;&nbsp;&nbsp;&nbsp;Home</a><br><br>
							<a href="#" class="gmail-color"><span class="glyphicon glyphicon-menu-right" style="color:#57e247;"></span>&nbsp;&nbsp;&nbsp;&nbsp;User</a><br><br>
							<a href="#/viewJobs" class="gmail-color"><span class="glyphicon glyphicon-menu-right" style="color:#57e247;"></span>&nbsp;&nbsp;&nbsp;&nbsp;Job</a><br><br>
							<a href="#/viewBlogs" class="gmail-color"><span class="glyphicon glyphicon-menu-right" style="color:#57e247;"></span>&nbsp;&nbsp;&nbsp;&nbsp;Blog</a>
						</div>
						<div class="col-sm-6">
							<a href="#/viewFriend" class="gmail-color"><span class="glyphicon glyphicon-menu-right" style="color:#57e247;"></span>&nbsp;&nbsp;&nbsp;&nbsp;Friend</a><br><br>
							<a href="#/viewEvents" class="gmail-color"><span class="glyphicon glyphicon-menu-right" style="color:#57e247;"></span>&nbsp;&nbsp;&nbsp;&nbsp;Event</a><br><br>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<label class="footer-font-color">&nbsp;&nbsp;&nbsp;Subscribe Us</label><br><br>
					<p class="about-slogan-color">&nbsp;&nbsp;&nbsp;Get latest updates and offer</p><br>
						<div class="col-sm-10">
							<div class="form-group">
								<div class="input-group">
								  <input type="text" class="form-control" placeholder="Enter your email">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" style="background:#84d758 !important; color:white !important;">
											<span class="glyphicon glyphicon-envelope" style="height:20px !important;"></span>
										</button>
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-2">
						</div>
				</div>
			</div>
			<div class="row" style="background:#1c3553; height:55px;padding-top:20px;">
				<center><label class="about-slogan-color">&copy; Design and Developed by Sayali Patil</label></center>
			</div>
		</div>
	</body>
</html>